<h1>Stupid Coaching</h1>

<form action="/answer" method="get">
  <label for="ask">Ask your coach anything</label>
  <input type="text" name="ask" placeholder="Enter question here...">
  <input type="submit" value="Ask!" id="button">
</form>

