// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


#button {
  background-color: blue;
  color: white;
}

a {
  color: red;
}
